 head{
     background-color: #291528;
}
 header{
     background-color: #291528;
     border: 5px solid #000000;
     width:50%;
     margin: auto;
}
a{
    color: #FF8C87;
}
body{
     background: #9e829c;
     align: left;
     overflow-x: hidden;
}
 .still-page{
     margin-left:auto;
     margin-right:auto;
     width:1870px;
}
 .nav-text{
     text-align:center;
}
 .nav-word{
     margin-right: 100px;
}
 .nav-text>a{
     color: #FF8C87;
}
 .main-body{
     overflow: hidden;
     margin-top: 50px;
}
.videoL{
    border: 5px solid #000000; 
    margin-right: 20px; 
    margin-left: 85px; 
    margin-top: 20px;
}
.videomid{
    border: 5px solid #000000; 
    margin-right: 20px; 
    margin-top: 20px;
}
.videoR{
    border: 5px solid #000000; 
    margin-top: 20px;
}
.video-text1{
    color: #FF8C87;
    margin-left: 85px;
    width: 400px;
    background-color: #291528;
    border: 5px solid #000000;
    align: left;
    text-align: center;
}
.video-text2{
    color: #FF8C87; 
    width: 400px;
    background-color: #291528;
    border: 5px solid #000000;
    align: left;
    text-align: center;
    margin-top: -47px;
    margin-left: 750px
}
.video-text3{
    color: #FF8C87; 
    width: 400px;
    background-color: #291528;
    border: 5px solid #000000;
    align: left;
    text-align: center;
    margin-top: -47px;
    margin-left: 1358px
}
.discription{
    align: justify;
    float: left; 
    background-color: #291528; 
    border: 5px solid #000000; 
    margin-left: 260px; 
    margin-right: 260px;
    margin-top: 10px; 
}
.norm-text{
    color: white;
    font-size: 20px;
    text-align: left;
    padding-left: 10px;
}
